---
title: Downloads
layout: default
root: ../
---

<h2>Redcrab Game</h2>
<p>
	A collection of mods used to run Redcrab | 2MB |
	<a href="https://github.com/rubenwardy/redcrab_game">Github</a> |
	<a href="https://github.com/rubenwardy/redcrab_game/archive/master.zip">Download (.zip)</a>
</p>

<h2>November 2013</h2>
<p>
	Manually collected incomplete snapshot | 110MB |
	<a href="https://minetest.rubenwardy.com/redcrab_nov13.zip">Download (.zip)</a>
</p>

<link rel="stylesheet" href="{{ page.root }}static/leaflet.css" />
<script src="{{ page.root }}static/leaflet.js"></script>
<style> .labelclass{position: absolute; background: rgba(255,0,255,0); font-size:20px;}</style>
<div id="mapid" style="width: 100%; height: 500px;"></div>
<script>
	var MineTestMap = L.map('mapid', {
	crs: L.CRS.Simple,
	});
	MineTestMap.setView([0.0, 0.0], 5);
	L.tileLayer('nov13/{z}_{x}_{y}_map.jpg', {
		minNativeZoom: 0,
		maxNativeZoom: 5,
		attribution: 'Minetest World',
		tileSize: 1024,
		errorTileUrl: "nov13/empty_tile_map.jpg",
		}).addTo(MineTestMap);
	var popup = L.popup();
	var mapZoom = 0.031250;
	function onMapClick(e) {
		var scaledPos = L.latLng(e.latlng.lat / mapZoom, e.latlng.lng / mapZoom);
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at "+ scaledPos.toString())
			.openOn(MineTestMap);
	}
	MineTestMap.on('click', onMapClick);
</script>
<script src="{{ page.root }}static/markers.js" defer></script></body>
</html>


<h2>This Website</h2>
<p>
	The source behind this website |
	<a href="https://github.com/rubenwardy/redcrab">Github</a> |
	<a href="https://github.com/rubenwardy/redcrab/archive/master.zip">Download (.zip)</a>
</p>
