---
title: About
layout: default
redirect_from: /maps/
---

<p>
	Redcrab was a very popular server during late 2011-2013, and was played on by nearly
	all of the current long time members.
</p>

<h2 id="maps">Maps</h2>
<p>
	Note that Redcrab started to drop in users after 2012.
	There isn't too much difference between these two maps.
</p>
<ul>
	<li><a href="old">Redcrab official maps (12/April/2015)</a></li>
	<li><a href="old-interactive">Redcrab server guide by rubenwardy (18/December/2012)</a></li>
</ul>

<a href="old"><img src="old/preview.png" alt="Preview map" style="margin-top: 20px;" /></a>
