---
---

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>

		<link href="https://rubenwardy.com/static/style.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700'
				rel='stylesheet' type='text/css'>
		<link rel="icon" href="https://rubenwardy.com/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="https://rubenwardy.com/favicon.ico" type="image/x-icon"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
		<![endif]-->
		<style>
			header {
				background: url("{{ page.root }}static/background.png");
			}

			header h1 {
				font-size: 400%;
				margin: 0.4em 0;
			}

			header h1, header span {
				margin-left: 20px;
			}

			header a {
				color: white;
				margin: 0 10px;
			}

			header span a:first-child {
				margin-left: 4px;
			}

			main img {
				max-width: 100%;
			}

			.gallery {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				flex-grow: 1;
				flex-shrink: 1;
				padding: 0;
				margin: 0 -10px;
			}

			.gallery a {
				flex: 1;
				display: block;
				padding: 0;
				margin: 10px;
				min-width: 370px;
				max-width: 470px;
			}

			.gallery a:hover {
				text-decoration: none;
			}

			.gallery a img {
				display: block;
				border-radius: 8px;
			}

			.gallery a span {
				display: block;
				margin: 10px;
				color: white;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<header class="container">
			<h1>Redcrab</h1>

			<span>
				<a href="{{ page.root }}">About</a>
				<a href="{{ page.root }}#maps">Maps</a>
				<a href="{{ page.root }}gallery">Gallery</a>
			</span>
		</header>
		<main>
			<h1>{{ page.title }}</h1>
			{{ content }}
		</main>
	</body>
</html>
